{% extends 'base.html.jinja' %}

{% block title %}Ziltch{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
{% endblock %}

{% block body %}

    <div class="vertical-center">
        <div id="app"></div>
    </div>

    <div class="footer" onclick="window.open('https://github.com/FlantasticDan/ziltch', '_blank').focus()">
        <div class="powered-by">Powered by</div>
        <img src="/static/icons/android-chrome-192x192.png">
        <div class="wordmark text-shadow-5 black">ZILTCH</div>
        <div class="version">{{version}}</div>
    </div>

    <script src="{{ url_for('static', filename='js/hls.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.global.prod.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ntp.js') }}"></script>
    <script>
        let VIDEO_CONTROLLER = {
            alwaysOn: false
        }
    </script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video.js') }}"></script>
{% endblock %}