{% extends 'base.html.jinja' %}

{% block title %}Ziltch{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/video.css?v=1">
    <link rel="stylesheet" href="/static/css/studio.css?v=1">
{% endblock %}

{% block body %}

    <div class="studio-panel">

        <div class="vertical-center">
            <div id="app"></div>
        </div>

        <div class="vertical-center studio">
            <div id="studio" class="box-shadow-5"></div>
        </div>
        

    </div>

    <div class="footer">
        <div class="powered-by">Powered by</div>
        <img src="/static/icons/android-chrome-192x192.png">
        <div class="wordmark text-shadow-5 black">ZILTCH</div>
        <div class="version">{{version}}</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/static/js/ntp.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/video.js"></script>
    <script src="/static/js/studio.js"></script>
{% endblock %}