@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;800&family=Paytone+One&display=swap');

:root{
    --primary: #25a845;
    --red: #a82525;
    --green: #26483d;
    --num-font: 'Lexend', sans-serif;
}

body{
    margin: 0;
    font-family: 'Paytone One', sans-serif;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.text-shadow-10{
    text-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary),
        6px 6px 1px var(--primary),
        7px 7px 1px var(--primary),
        8px 8px 1px var(--primary),
        9px 9px 1px var(--primary)
    ;
}

.text-shadow-5{
    text-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary)
    ;
}

.text-shadow-5.black{
    text-shadow:
        0px 0px 1px black,
        1px 1px 1px black,
        2px 2px 1px black,
        3px 3px 1px black,
        4px 4px 1px black,
        5px 5px 1px black
    ;
}

.text-shadow-5.red{
    text-shadow:
        0px 0px 1px var(--red),
        1px 1px 1px var(--red),
        2px 2px 1px var(--red),
        3px 3px 1px var(--red),
        4px 4px 1px var(--red),
        5px 5px 1px var(--red)
    ;
}

.text-shadow-3{
    text-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary)
    ;
}

.text-shadow-3.black{
    text-shadow:
        0px 0px 1px black,
        1px 1px 1px black,
        2px 2px 1px black,
        3px 3px 1px black
    ;
}

.text-shadow-20{
    text-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary),
        6px 6px 1px var(--primary),
        7px 7px 1px var(--primary),
        8px 8px 1px var(--primary),
        9px 9px 1px var(--primary),
        10px 10px 1px var(--primary),
        11px 11px 1px var(--primary),
        12px 12px 1px var(--primary),
        13px 13px 1px var(--primary),
        14px 14px 1px var(--primary),
        15px 15px 1px var(--primary),
        16px 16px 1px var(--primary),
        17px 17px 1px var(--primary),
        18px 18px 1px var(--primary),
        19px 19px 1px var(--primary)
    ;
}

.box-shadow-30{
    box-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary),
        6px 6px 1px var(--primary),
        7px 7px 1px var(--primary),
        8px 8px 1px var(--primary),
        9px 9px 1px var(--primary),
        10px 10px 1px var(--primary),
        11px 11px 1px var(--primary),
        12px 12px 1px var(--primary),
        13px 13px 1px var(--primary),
        14px 14px 1px var(--primary),
        15px 15px 1px var(--primary),
        16px 16px 1px var(--primary),
        17px 17px 1px var(--primary),
        18px 18px 1px var(--primary),
        19px 19px 1px var(--primary),
        10px 10px 1px var(--primary),
        21px 21px 1px var(--primary),
        22px 22px 1px var(--primary),
        23px 23px 1px var(--primary),
        24px 24px 1px var(--primary),
        25px 25px 1px var(--primary),
        26px 26px 1px var(--primary),
        27px 27px 1px var(--primary),
        28px 28px 1px var(--primary),
        29px 29px 1px var(--primary)
    ;
}

.box-shadow-10{
    box-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary),
        6px 6px 1px var(--primary),
        7px 7px 1px var(--primary),
        8px 8px 1px var(--primary),
        9px 9px 1px var(--primary),
        10px 10px 1px var(--primary)
    ;
    transform: translateX(-5px);
}

.box-shadow-5{
    box-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary),
        4px 4px 1px var(--primary),
        5px 5px 1px var(--primary)
    ;
    /* transform: translateX(-5px); */
}

.box-shadow-5.red{
    box-shadow:
        0px 0px 1px var(--red),
        1px 1px 1px var(--red),
        2px 2px 1px var(--red),
        3px 3px 1px var(--red),
        4px 4px 1px var(--red),
        5px 5px 1px var(--red)
    ;
    /* transform: translateX(-5px); */
}

.box-shadow-3{
    box-shadow:
        0px 0px 1px var(--primary),
        1px 1px 1px var(--primary),
        2px 2px 1px var(--primary),
        3px 3px 1px var(--primary)
    ;
    /* transform: translateX(-5px); */
}

.box-shadow-3.black{
    box-shadow:
        0px 0px 1px black,
        1px 1px 1px black,
        2px 2px 1px black,
        3px 3px 1px black
    ;
    /* transform: translateX(-5px); */
}

.white{
    filter: invert(100%) sepia(95%) saturate(20%) hue-rotate(4deg) brightness(105%) contrast(107%);
}

.center{
    text-align: center;
}