[Unit]
Description=Ziltch Instance
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/path/to/ziltch.sh

[Install]
WantedBy=multi-user.target